*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0fcf90;
}
h1{
    color: #b9105e;
}
h2{
    color: orange;
}

li{
    color: rgb(16, 3, 92);
}
p{
    background-color: yellow;
}
input{
    border: 3px solid red;
}
.hello{
    background-color: white;
}
#special{
    border: 2px solid rgb(16, 3, 92);
}
div p{
    font-size: 60px;
}

[type="text"]{
    background-color: gray;
}

div:nth-of-type(3){
    background-color: grey;
}
div p:nth-of-type(2){
    border: 5px solid white;
}
div em{
    color: white;
    font-size: 20px;
}

input[type=checkbox]{
    margin-left: 50px;
}

label{
    text-transform: uppercase;
}
p+#special::first-letter{
    color: green;
    font-size: 100px;
}

h1:hover{
    color: blue;
}
a:visited{
    color: gray;
}